.ui-coverflow-wrapper {
    position: relative;
    overflow: hidden;
}

.ui-coverflow {
    -webkit-perspective: 500px;
       -moz-perspective: 500px;
        -ms-perspective: 500px;
         -o-perspective: 500px;
            perspective: 500px;

    position: absolute;
}

.ui-coverflow-item {
    position: relative;
    cursor: pointer;
    float: left;
}

.ui-coverflow-item:focus {
    outline: 0;
}
.ui-coverflow img {
    -webkit-user-drag: none;
       -moz-user-drag: none;
        -ms-user-drag: none;
         -o-user-drag: none;
            user-drag: none;

    border: 0 none;
}

.ui-coverflow-classic-render .ui-coverflow-item {
	-webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(black), color-stop(.7, black), to(transparent));
}