<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta name="keywords" content="{{ header.keywords }}" />
	<meta name="description" content="{{ header.description }}" />

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="cleartype" content="on">
	<meta name="msapplication-TileColor" content="#222222">

	<title>coverflowjs{% if page.title %} ★ {{ page.title }} {% endif %}</title>

	<!-- transparent favicon -->
	<link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" />

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/js/coverflowjs/coverflow.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" />
	<link href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>

	<script>
		window.baseUrl = "{{ site.baseurl }}";
	</script>
	<script type="text/javascript" data-main="{{ site.baseurl }}/assets/js/main" src="{{ site.baseurl }}/assets/js/require.js" async></script>

</head>
<body>

	<div id="wrapper">
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">Coverflowjs</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ site.baseurl }}/tutorial/get-started">Get started</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/api/options/">Options</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/api/events/">Events</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/api/methods/">Methods</a>
                        </li>
                    </ul>
                    <div class="navbar-right">
                        <a href="https://github.com/coverflowjs/coverflow" class="btn btn-primary navbar-btn">view on Github »</a>
                    </div>
                </div>
            </div>
		</nav>

		<div class="container">
			<header>
				<div class="page-header">
					<h1>coverflowjs<small> - documentation</small></h1>
					<p class="lead">This Coverflow project seeks to create a fully functional 'CoverFlow' effect using a combination of jQuery, jQuery UI components and CSS3 transforms.</p>
				</div>
			</header>
			<div class="row">
			{{ content }}
			</div>
		</div>
	</div>

	<div class="footer container">
		<footer>
			© coverflowjs 2014
		</footer>
	</div>
</body>
</html>
